
<div class="d-container" [ngClass]="theme+'-faculty-d-container'">
  <div class="d-wrapper">
    <div class="button-div" *ngIf="capsules?.length <= 0">
      <h4>Nothing to review.</h4>
    </div>
    <div class="card" *ngIf="capsules?.length > 0" [ngClass]="theme+'-faculty-card'">
      <div class="d-content">
        <div class="d-table-header">
          <h3>Review Capsule</h3>
        </div>
        <div class="d-impro-hr"></div>
      </div>

      <form>
        <div class="d-input-parent">
          <div class="d-div-s">
            <mat-icon class="d-s-icon">search</mat-icon>
            <input class="form-control" name="search" type="text" placeholder="Search for a Capsule" [(ngModel)]="searchCapsule">
          </div>
          <div class="d-div-select">
            <select class="d-custom-select" id="inputGroupSelect01" name="filter" [(ngModel)]="selectedFilter">
              <option value="-1">Filter by</option>
              <option value="0">Unassigned</option>
              <option value="1">Assigned</option>
              <option value="2">Graded</option>
              <option value="3">Under Revision</option>
              <option value="4">Reconsider</option>
              <option value="5">Approved</option>
            </select>
          </div>
        </div>
      </form>

      <table class="d-table-capsule" id="d-table" [ngClass]="theme+'-faculty-d-table-capsule'">
        <thead>
          <th>CAPSULE ID</th>
          <th>TITLE <mat-icon (click)="paginate.review_sort('titleAsc', capsules)">arrow_upward</mat-icon><mat-icon (click)="paginate.review_sort('titleDesc', capsules)">arrow_downward</mat-icon></th>
          <th>AUTHOR <mat-icon (click)="paginate.review_sort('authorAsc', capsules)">arrow_upward</mat-icon><mat-icon (click)="paginate.review_sort('authorDesc', capsules)">arrow_downward</mat-icon></th>
          <th>DATE SUBMITTED <mat-icon (click)="paginate.review_sort('datePublsihedAsc', capsules)">arrow_upward</mat-icon><mat-icon (click)="paginate.review_sort('datePublsihedDesc', capsules)">arrow_downward</mat-icon></th>
          <th>STATUS</th>
          <th>ACTION</th>
        </thead>
        <tbody *ngFor="let capsule of filteredItems | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: filteredItems.length } | searchFaculty: searchCapsule; let i = index">
          <tr>
            <td data-label="CAPSULE ID">{{capsule.capsule.id}}</td>
            <td data-label="TITLE">{{capsule.capsule.title}}</td>
            <td data-label="AUTHOR">{{capsule.capsule.user.fname}} {{capsule.capsule.user.lname}}</td>
            <td data-label="DATE SUBMITTED">{{exportService.formatReqDate(capsule.capsule.created_at)}}</td>
            <td data-label="STATUS">{{exportService.getStatus(capsule.capsule.status)}}</td>
            <!-- <td data-label="Action"><button class="btn orange-button" (click)="seeDetails(capsule)" id="show-details-button">Details</button></td> -->
            <td data-label="Action"><button class="btn orange-button"  id="show-details-button" (click)="seeDetails(capsule.capsule_id)">Details</button></td>
          </tr>
        </tbody>
      </table>
      <pagination-controls style="text-align: center;" (pageChange)="currentPage = $event"></pagination-controls>
      <div class="export-btn-unique">
        <button class="btn orange-button" (click)="exportpdf.exportPdfCapsule(currentTitle, capsules, 'review', 'review-capsules.pdf')">Export PDF File</button>
        <button class="btn orange-button" (click)="exportService.exportReviewCapsule(capsules, 'Review Capsule List '+exportService.dateNow(), 'review-capsule-list-'+exportService.dateNow())">Export CSV File</button>
      </div>
    </div>

    <div class="right-side" id="details" *ngIf="showdetails" [ngClass]="theme+'-faculty-right-side'">
      <div class="d-content-body" *ngFor="let c of userSelected; let i = index">
        <div class="upper">
          <div class="title-x">
          <h3>{{c.title}}</h3>
          <mat-icon class="d-s-icon" id="close-button" (click)="closeDetails()" >clear</mat-icon>
        </div>
          <span class="label">{{exportService.formatReqDate(c.created_at)}}</span>
          <span class="status" [ngClass]="theme+'-faculty-status'">{{exportService.getStatus(c.status)}}</span>
        </div>
        <div class="lower">
          <span class="label">Description</span>
          <p class="capsule-desc">{{c.description}}</p>
          <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p> -->
          <span class="label" >Uploaded materials</span>
          <div class="pdf-button" (click)="openPdf(c)" [ngClass]="theme+'-faculty-status'">
            <mat-icon>insert_drive_file</mat-icon>
            <p class="filename">{{c.title}}.pdf</p>
          </div>
          <div class="buttons-container">
            <button class="button-newtab" *ngIf="valid"><a [routerLink]="['/faculty/grade_capsule', c.id]" target="_blank"> Grade this Capsule</a></button>
            <button class="button-expand-newtab"><a [routerLink]="['/faculty/expand_capsule_details', c.id]" target="_blank"> Expand Details</a></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


