<div class="container">
  <div class="dia-header">
    <div class="d-div-s">
      <h3>Verify Faculty</h3>
    </div>
  </div>

  <div class="dia-content">
    <p>Are you sure you want to verify {{result.userData.fname}} {{result.userData.lname}}?</p>
  </div>

  <div class="dia-actions">
    <button class="cancel" mat-dialog-close>Cancel</button>
    <button class="submit" (click)="verifyUser()" *ngIf="!loading">Verify</button>
    <button class="submit" style="padding: 5px 20px;" *ngIf="loading"><app-loader-button></app-loader-button></button>
  </div>
</div>


