<div class="container">
  <div class="dia-header">
    <div class="d-div-s">
      <h3>Logout</h3>
    </div>
  </div>

  <div class="dia-content">
    <p>Are you sure you want to logout?</p>
  </div>

  <div class="dia-actions">
    <button class="cancel" mat-dialog-close>Cancel</button>
    <a href="#" class="btn submit" (click)="logout($event)" *ngIf="!loading">Logout</a>
    <button class="btn submit" style="padding: 5px 20px;" *ngIf="loading"><app-loader-button></app-loader-button></button>
  </div>
</div>


