<form #passwordForm=ngForm (ngSubmit)="changePassword()">
  <div class="container">
    <div class="dia-header">
      <div class="d-div-s">
        <h3>Change Password</h3>
      </div>
    </div>

    <div class="dia-content">
      <div class="alert alert-danger" [hidden]="!error">
        {{error}}
      </div>
      <h6>Input Old Password</h6>
      <input type="password" name="oldPassword" class="form-control d-custom-input" placeholder="Old Password" required [(ngModel)]="form.old_password" required>
      <h6 class="mt-3">Input New Password</h6>
      <input type="password" name="newPassword" class="form-control d-custom-input" placeholder="New Password" required [(ngModel)]="form.password" required>
      <h6 class="mt-3">Confirm New Password</h6>
      <input type="password" name="confirmPassword" class="form-control d-custom-input" placeholder="Confirm New Password" required [(ngModel)]="form.confirm_password" required>
    </div>

    <div class="dia-actions">
      <button class="cancel" mat-dialog-close>Cancel</button>
      <button class="submit" type="submit" [disabled]="passwordForm.invalid">Submit</button>
    </div>
  </div>
</form>
