<div class="container">
  <div class="loader"><app-loader *ngIf="loading"></app-loader></div>
  <div class="loader-bg" *ngIf="loading"></div>
  <div class="context-container">
       <!-- PANG HOSTINGER -->
      <!-- <img class="logo" src="../../../assets/CICT.png"> -->
       <!-- PANG SLARENAS -->
      <img class="logo" src="assets/CICT.png">
      <h2 class="Title">Research Capsule</h2>
  </div>
  <div class="form-container">
      <h1>Request Reset Password</h1>
      <p class="new-user">Login now? <a [routerLink]="['/faculty/login']" class="signup-link">Click Here</a></p>
      <form #myForm="ngForm" (ngSubmit)="onSubmit()">
        <div class="alert alert-danger" [hidden]="!error">
          {{error}}
        </div>
        <div class="email-field">
            <mat-icon class="icon">
                <span class="material-symbols-outlined">
                mail
                </span>
            </mat-icon>
            <input type="email" name="email" placeholder="Email"
             [(ngModel)]="myModel.email" required>
        </div>
        <div class="login">
            <!-- <a href="#" class="login-button">Log In</a> -->
            <button class="login-button" type="submit" [disabled]="!myForm.valid">Submit</button>
        </div>
      </form>
  </div>
</div>
