.page-container{
  display: flex;
  width: 100%;
  height: 100%;
//   background-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.4), rgba(100, 32, 0, 0.5)), url('../../../assets/CICTBuilding.png');
//   background-size:cover;
 background-repeat:no-repeat;
  // background-size: cover;
  background-position: center;
  // object-fit:fill;
  justify-content: center;
  align-items: center;
  padding-top: 5%;
  padding-bottom: 10%;

  overflow: hidden;

}

.page-container h5,
.page-container h4{
    font-size: calc(.5em + 1vw);
}
.change-theme{
    padding-top: 8px;
    padding-left: 10px;
}

.logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 70%;
}

.delete-button{
    background-color: rgb(245, 120, 28);
    border: none;
    border-radius: 10px;
    color: white;
    width: 80px;
    height: 35px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.24);
    margin: 0px 5px;
}

.edit-button{
    background-color: rgb(168, 165, 162);
    border: none;
    border-radius: 10px;
    color: rgb(0, 0, 0);
    width: 80px;
    height: 35px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.24);
    margin: 0px 5px;
}

.left-container{
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    gap: 50px;
    align-items: center;

}

.delete-button:hover{
  transition: .5s;
  background-color: rgb(172, 75, 5);
}

.edit-button:hover{
    transition: .5s;
    opacity: 70%;
}
// --------------------------------------------------------------------------------------
.card{
    width: 80%;
    height: fit-content;
    // background-color: rgba(240, 248, 255, 0.63);
    border-radius: 15px;
    padding: 10px 25px;
}

.edit-logo,
.edit-banner{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-between;
    align-items: center;
    border-bottom: solid black 1px;
    padding: 10px ;

}

.edit-theme{
    display: flex;
    width: 100%;
    height: fit-content;
    justify-content: space-evenly;
    align-items: center;
    border-bottom: solid black 1px;
    padding: 10px ;

}

.logo-con{
    width: 20%;
}

.logo-title{
    width: 50%;
    display: flex;
    justify-content: center;
}

.butt-container{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
}

.orange-theme,
.red-theme,
.dark-mode,
.blue-mode,
.purp-mode,
.green-yellow-mode{
    height: 100px;
    width: 25%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    border-radius: 15px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.39);
    padding: 15px;
    text-align: center;
    
}

.orange-theme:hover,
.red-theme:hover,
.dark-mode:hover,
.blue-mode:hover,
.purp-mode:hover,
.green-yellow-mode:hover{
    width: 27%;
    height: 110px;
    transition: .4s;
}


.orange-theme{
    padding-top: 10px;
    background: rgb(255, 88, 10);
    background: linear-gradient(90deg, rgba(248,113,51,1) 0%, rgb(221, 87, 25) 35%, rgb(185, 70, 17) 100%);
}

.red-theme{
    padding-top: 10px;
    background: rgb(223,23,23);
    background: linear-gradient(90deg, rgba(223,23,23,1) 0%, rgba(179,22,22,1) 35%, rgba(122,8,8,1) 100%);
}

.dark-mode{
    padding-top: 10px;
    background: rgb(103,97,97);
    background: linear-gradient(90deg, rgba(103,97,97,1) 0%, rgba(78,74,74,1) 35%, rgba(36,33,33,1) 100%);
}

.purp-mode{
    padding-top: 10px;
    background: #A100FF;
  background: linear-gradient(90deg, #951dda 0%, #8412c6 35%, #4c0675 100%);
}

.blue-mode{
    padding-top: 10px;
    background: rgb(2,0,36);
  background: linear-gradient(281deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 35%, rgba(5,116,139,1) 100%);
}

.green-yellow-mode{
    padding-top: 10px;
    background: rgb(34,193,195);
    background: linear-gradient(281deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
}



@media only screen and (max-width: 980px) {
  .left-container{
    flex-direction: column;
    padding: 20px 0;
  }

  .edit-logo,
  .edit-banner{
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .edit-theme{
    flex-direction: row;
  }

  .change-theme{
    text-align: center;
  }

  .logo-con{
    width: 100%;
    display: flex;
    justify-content: center;

}
}
