
   <div class="d-container">
    <div class="d-header">
        <h3>Faculty List</h3>
    </div>
    <div class="card" [ngClass]="theme+'-card'">
      <div class="d-content">
        <div class="d-table-header">
            <h3>Faculty</h3>
        </div>
        <div class="d-impro-hr"></div>
    </div>

    <form>
        <div class="d-input-parent">
            <div class="d-div-s">
                <mat-icon class="d-s-icon">search</mat-icon>
                <input class="form-control" name="search" type="text" placeholder="Search for a Faculty" [(ngModel)]="searchFaculty">
            </div>
            <div class="d-div-select">
            </div>
        </div>
    </form>

    <table class="d-table-capsule" id="{{theme}}-d-table">
      <thead>
        <th>#</th>
        <th><div class="title-unique">First Name <mat-icon class="mat-arrows" (click)="paginate.sort('fnameAsc', faculties.msg)">arrow_upward</mat-icon><mat-icon class="mat-arrows" (click)="paginate.sort('fnameDesc', faculties.msg)">arrow_downward</mat-icon></div></th>
        <th>Middle Name</th>
        <th><div class="title-unique">Last Name <mat-icon class="mat-arrows" (click)="paginate.sort('lnameAsc', faculties.msg)">arrow_upward</mat-icon><mat-icon class="mat-arrows" (click)="paginate.sort('lnameDesc', faculties.msg)">arrow_downward</mat-icon></div></th>
        <th>Email</th>
        <th>Contacts</th> <!-- change to status -->
      </thead>
        <tbody *ngFor="let faculty of faculties.msg | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: faculties.msg.length } | search:searchFaculty ; let i = index">
          <tr>
            <td data-label="#">{{i+1}}</td>
            <td data-label="First Name">{{faculty.fname}}</td>
            <td data-label="Middle Name">{{faculty.mname}}</td>
            <td data-label="Last Name">{{faculty.lname}}</td>
            <td data-label="Email">{{faculty.email}}</td>
            <td data-label="Contacts">{{faculty.contact}}</td>
          </tr>
        </tbody>
    </table>
    <pagination-controls style="text-align: center;" (pageChange)="currentPage = $event"></pagination-controls>
    <div class="export-btn-unique">
      <button class="btn orange-button" (click)="exportpdf.exportPdfFaculty('Verified Faculty List', faculties.msg, 'verified-faculty-list.pdf')">Export PDF File</button>
      <button class="btn orange-button" (click)="exportService.exportFaculty(faculties.msg, 'Verified Faculty List', 'verified-faculty-list')">Export CSV File</button>
    </div>
  </div>
</div>


