
   <div class="d-container">
    <div class="d-header">
        <h3>Faculty List</h3>
    </div>
    <div class="card" [ngClass]="theme+'-card'">
      <div class="d-content">
        <div class="d-table-header">
            <h3>Faculty</h3>
            <button class="btn orange-button" (click)="exportService.exportFaculty(faculties.msg, 'Verified Faculty List', 'verified-faculty-list')">Export CSV File</button>
        </div>
        <div class="d-impro-hr"></div>
    </div>

    <form>
        <div class="d-input-parent">
            <div class="d-div-s">
                <mat-icon class="d-s-icon">search</mat-icon>
                <input class="form-control" name="search" type="text" placeholder="Search for a Faculty" [(ngModel)]="searchFaculty">
            </div>
            <div class="d-div-select">
                <select class="d-custom-select" id="inputGroupSelect01">
                    <option selected>Filter by</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>

                <select class="d-custom-select" id="inputGroupSelect01">
                    <option selected>Sort by</option>
                    <option value="1">One</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </div>
        </div>
    </form>

    <table class="d-table-capsule" id="{{theme}}-d-table">
        <thead>
            <th>#</th>
            <th>First Name</th>
            <th>Middle Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Contacts</th> <!-- change to status -->
        </thead>
        <tbody *ngFor="let faculty of faculties.msg | search:searchFaculty ; let i = index">
          <tr>
            <td data-label="#">{{i+1}}</td>
            <td data-label="First Name">{{faculty.fname}}</td>
            <td data-label="Middle Name">{{faculty.mname}}</td>
            <td data-label="Last Name">{{faculty.lname}}</td>
            <td data-label="Email">{{faculty.email}}</td>
            <td data-label="Contacts">{{faculty.contact}}</td>
          </tr>
        </tbody>
    </table>
    </div>
</div>


