
@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.loader-container{

  position: fixed !important;
  z-index: 1;
}


.base img{
  position: absolute !important;
  top: 0 !important;
  left: 0 !important;
  z-index: 1 !important;
  animation: rotate 10s linear infinite;
}
.middle img{
  position: absolute !important;
  top: 12px !important;
  left: 13px !important;
  z-index: 2 !important;


}

@media only screen and (max-width: 600px) {

.loader-container{
  position: fixed !important;
  z-index: 1;
}

.base img{
  position: absolute !important;
  // top: 0 !important;
  left: -28px !important;
  z-index: 1 !important;
  animation: rotate 10s linear infinite;
}
.middle img{
  position: absolute !important;
  // top: 12px !important;
  left: -15px !important;
  z-index: 2 !important;
}

}
