.con{
  min-height: 100vh;
  overflow-y: scroll;
}

.a-wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.overlay{
  position: absolute;
  top: 10;
  right: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.5);
  z-index: 2;
}
.a-nav-router{
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
}
.a-router{
  width: 100%;
  font-family: Poppins, sans-serif;
  margin-top: 94px;
  display: flex;
}
.header-title{
  width: calc(100% - 200px);
  height: calc(100vh - 10%);
  overflow: hidden;

}
.header-title-collapse{
  width: 100%;
}
.header-title-mobile{
  width: 100%;
}
.mobile-sidenav{
  position: absolute;
  left: 0;
  z-index: 3;
  height: 100%;
}
.con-sub-nav{
  display: flex;
}
.sub-nav{
  width: 200px;
}


//loading
.loader{
  display: flex;
  top: 42%;
  left: 45%;
  position: absolute;
  z-index: 2000;
}

.loader-bg{
  width: 100%;
  height: 100%;
  backdrop-filter: blur(5px);
  position: fixed;
  z-index: 1000;
}

@media only screen and (max-height: 600px) {
  .a-router{
    margin-top: 60px;
  }
}


