<div class="d-container">
  <div class="d-header">
      <h3>Capsules</h3>
  </div>
  <div class="card" [ngClass]="theme+'-card'">
    <div class="d-content">
      <div class="d-table-header">
          <h3>Capsules</h3>
      </div>
      <div class="d-impro-hr"></div>
    </div>

    <form>
        <div class="d-input-parent">
            <div class="d-div-s">
              <mat-icon class="d-s-icon">search</mat-icon>
              <input class="form-control" name="search" type="text" placeholder="Search for a Capsule or Author" [(ngModel)]="searchCapsule">
            </div>
            <div class="d-div-select">
              <select class="d-custom-select" id="inputGroupSelect01" name="filter" [(ngModel)]="selectedFilter">
                <option value="-1">Filter by</option>
                <option value="0">Unassigned</option>
                <option value="1">Assigned</option>
                <option value="2">Graded</option>
                <option value="3">Under Revision</option>
                <option value="4">Reconsider</option>
                <option value="5">Approved</option>
                <option value="6">Submitted to RIO</option>
              </select>
            </div>
        </div>
    </form>

    <table class="d-table-capsule" id="{{theme}}-d-table">
      <thead>
        <th>Number</th>
        <th><div class="title-unique">Title <mat-icon class="mat-arrows" (click)="paginate.sort('titleAsc', capsules)">arrow_upward</mat-icon><mat-icon class="mat-arrows" (click)="paginate.sort('titleDesc', capsules)">arrow_downward</mat-icon></div></th>
        <th><div class="title-unique">Author <mat-icon class="mat-arrows" (click)="paginate.sort('authorAsc', capsules)">arrow_upward</mat-icon><mat-icon class="mat-arrows" (click)="paginate.sort('authorDesc', capsules)">arrow_downward</mat-icon></div></th>
        <th>Status</th>
        <th><div class="title-unique">Date Published <mat-icon class="mat-arrows" (click)="paginate.sort('datePublsihedAsc', capsules)">arrow_upward</mat-icon><mat-icon class="mat-arrows" (click)="paginate.sort('datePublsihedDesc', capsules)">arrow_downward</mat-icon></div></th>
        <th>Action</th>
      </thead>
      <tbody *ngFor="let capsule of filteredItems | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: filteredItems.length } | search: searchCapsule; let i = index">
        <tr>
          <td data-label="Number">{{(pageSize * (currentPage-1))+i+1}}</td>
          <td data-label="Title">{{capsule.title}}</td>
          <td data-label="Author">{{capsule.user.fname}} {{capsule.user.lname}}</td>
          <td data-label="Status">{{exportService.getStatus(capsule.status)}}</td>
          <td data-label="Date Published">{{exportService.formatReqDate(capsule.created_at)}}</td>
          <td data-label="Action"><a [routerLink]="['/admin/capsule', capsule.id]" class="btn orange-button">View Details</a></td>
        </tr>
      </tbody>
    </table>
    <pagination-controls style="text-align: center;" (pageChange)="currentPage = $event"></pagination-controls>
    <div class="export-btn-unique">
      <button class="btn orange-button" (click)="exportpdf.exportPdfCapsule('Submitted Capsule', capsules, 'capsule', 'capsule-list.pdf')">Export PDF File</button>
      <button class="btn orange-button" (click)="exportService.exportCapsule(capsules, 'Capsule List', 'capsule-list')">Export CSV File</button>
    </div>
  </div>
</div>


