
<div class="d-container" [ngClass]="theme+'-d-container'">
    <div class="d-header">
      <h3>Dashboard</h3>
    </div>
    <div class="card" [ngClass]="theme+'-card'">
      <div class="d-content">
        <button class="btn orange-button" style="float: right; margin-right: 30px;" (click)="exportpdf.exportChart2Pdf(datachart, datalinechart)">Export PDF File</button>
        <div class="d-graph-container">
          <div class="d-graph">
            <div class="pie" id="pieChart"></div>
          </div>
          <div class="d-graph">
            <!-- <app-line-chart></app-line-chart> -->
            <div class="area" id="lineChart"></div>
          </div>
      </div>
        <div class="d-table-header">
            <h3>Capsules</h3>
        </div>
        <div class="d-impro-hr"></div>
      </div>

      <form>
        <div class="d-input-parent">
            <div class="d-div-s">
                <mat-icon class="d-s-icon">search</mat-icon>
                <input class="form-control" name="search" type="text" placeholder="Search for a Capsule" [(ngModel)]="searchCapsule">
            </div>
            <div class="d-div-select">
                <select class="d-custom-select" id="inputGroupSelect01" name="filter" [(ngModel)]="selectedFilter">
                  <option value="-1">Filter by</option>
                  <option value="0">Unassigned</option>
                  <option value="1">Assigned</option>
                  <option value="2">Graded</option>
                  <option value="3">Under Revision</option>
                  <option value="4">Reconsider</option>
                  <option value="5">Approved</option>
                </select>
            </div>
        </div>
      </form>

      <table class="d-table-capsule" id="{{theme}}-d-table">
        <thead>
            <th>Number</th>
            <!-- <mat-icon (click)="paginate.sort('titleAsc', capsules.data)">arrow_upward</mat-icon><mat-icon (click)="paginate.sort('titleDesc', capsules.data)">arrow_downward</mat-icon> -->
            <th>Title
              <mat-icon (click)="paginate.sort('titleAsc', capsules.data)">arrow_upward</mat-icon><mat-icon (click)="paginate.sort('titleDesc', capsules.data)">arrow_downward</mat-icon>
              <!-- <button *ngIf="atoz" (click)="toggleAtoZ('titleAsc', capsules.data)">A-Z</button>
              <button *ngIf="!atoz" (click)="toggleAtoZ('titleDesc', capsules.data)">Z-A</button> -->
            </th>
            <th>Author <mat-icon (click)="paginate.sort('authorAsc', capsules.data)">arrow_upward</mat-icon><mat-icon (click)="paginate.sort('authorDesc', capsules.data)">arrow_downward</mat-icon></th>
            <th>Status</th>
            <th>Date Published <mat-icon (click)="paginate.sort('datePublsihedAsc', capsules.data)">arrow_upward</mat-icon><mat-icon (click)="paginate.sort('datePublsihedDesc', capsules.data)">arrow_downward</mat-icon></th>
        </thead>
        <tbody *ngFor="let capsule of filteredItems | paginate: { itemsPerPage: pageSize, currentPage: currentPage, totalItems: filteredItems.length } | search: searchCapsule ; let i = index">
          <tr>
            <td data-label="Number">{{i+1}}</td>
            <td data-label="Title">{{capsule.title}}</td>
            <td data-label="Author">{{capsule.user.fname}} {{capsule.user.lname}}</td>
            <td data-label="Status">{{exportService.getStatus(capsule.status)}}</td>
            <td data-label="Date Published">{{formatReqDate(capsule.created_at)}}</td>
          </tr>
        </tbody>
      </table>
      <pagination-controls style="text-align: center;" (pageChange)="currentPage = $event"></pagination-controls>
      <div class="export-btn-unique">
        <button class="btn orange-button" (click)="exportpdf.exportPdfCapsule('Submitted Capsule', capsules.data, 'capsule', 'capsule-list.pdf')">Export PDF File</button>
        <button class="btn orange-button" (click)="exportService.exportCapsule(capsules.data, 'Capsule List', 'capsule-list')">Export CSV File</button>
      </div>
    </div>
</div>
