<div class="container">
  <div class="dia-header">
    <div class="d-div-s">
      <h3>Delete Rubric</h3>
    </div>
  </div>

  <div class="dia-content">
    <p>Are you sure you want to delete the rubric?</p>
  </div>

  <div class="dia-actions">
    <button class="cancel" mat-dialog-close>Cancel</button>
    <button class="submit" (click)="deleteRubric()" *ngIf="!loading">Delete</button>
    <button class="btn submit" style="padding: 5px 20px;" *ngIf="loading"><app-loader-button></app-loader-button></button>
  </div>
</div>


