.comment-container{
  display: flex;
  margin-bottom: 20px;
}
.comment-card{
  background-color: rgb(235, 235, 235);
  border-radius: 20px;
  padding: 5px 10px;
  margin-left: 10px;
  color: black;
}
.comment-card p{
  margin-bottom: 0;
}
.comment-author{
  font-weight: 500;
}
.right-body p{
  margin-bottom: 0;
}
.status{
  background-color: #e4dede;
  border-radius: 20px;
  padding: 5px 10px;
}
.con-unassign{
  display: flex;
  flex-direction: column;
  button{
    width: fit-content;
    transition: 0.5s;
  }
  .orange-button:hover{
    opacity: 0.5;
  }
  .unassigned{
    border: 2px solid red;
    &:hover{
      background: red;
      color: white;
    }
  }
}
.assigned{
  border: 2px solid rgb(206, 206, 243);
  transition: 0.5s;
}
.assigned:hover{
  background-color: rgb(206, 206, 243);
  // color: white;
}
.graded{
  border: 2px solid orange;
  transition: 0.5s;
  &:hover{ background-color: orange; color: white}
}
.revision{
  border: 2px solid yellow;
  transition: 0.5s;
}
.revision:hover{
  background-color: yellow;
}
.reject{
  border: 2px solid black;
  transition: 0.5s;
  &:hover{
    background: black;
    color: white;
  }
}
.approve{
  border: 2px solid green;
  transition: 0.5s;
  &:hover{ background-color: green; color: white}
}


.revisions-container{
  width: 90%;
  margin-left: 15px;
  margin-top: 10px;
  height: 260px;
  overflow-y: scroll;
  padding-right: 10px;
}

.pdf-button-revised{
  display: flex;
  justify-content: space-between;
  margin: 5px 0;
  background-color: rgb(235, 235, 235);
  border: 1px solid rgb(180, 177, 177);
  border-radius: 5px;
  align-items: center;
  cursor: pointer;
}
.pdf-button-revised:hover{
  background-color: rgb(156, 156, 156);
  transition: .3s;
}

.file{
  display: flex;
  padding: 8px 10px;
}

.pdf-button-revised .date{
  height: 100%;
  background-color: #a5a5a5;
  padding: 10px;

}

.label{
  padding-left: 10px;
}

.right-div{
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: center;
  p{ margin: 0; }
}

@media only screen and (max-width: 790px) {
  .loader-bg{
    margin-top: -55px !important;
    margin-left: 0px !important;
  }
}

@media only screen and (max-width: 500px) {
  .d-content-body{
    flex-direction: column-reverse;
  }
  .left-body, .right-body{
    width: 100%;
  }
  .d-content{
    margin-bottom: 20px;
  }
}
