
<div class="d-container">
  <div class="d-header">
    <h3>Capsule</h3>
  </div>
  <div class="card" [ngClass]="theme+'-card'">
    <div class="d-content">
      <a [routerLink]="['/admin/capsule']" class="d-content-head">
        <mat-icon>keyboard_arrow_left</mat-icon>Back
      </a>
    </div>

    <div class="d-content-body" *ngFor="let capsule of selectedCapsuleData; let i = index">
      <div class="left-body">
        <div class="upper">
          <h3>{{capsule?.title}}</h3>
          <span class="label" [ngClass]="theme+'-sub-title'">{{formatReqDate(capsule?.created_at)}}</span>
        </div>
        <div class="lower">
          <span class="label" [ngClass]="theme+'-sub-title'">Description</span>
          <p>{{capsule?.description}}</p>
          <span class="label" [ngClass]="theme+'-sub-title'">Uploaded materials</span>
          <div class="pdf-button" (click)="openPdf(capsule.file_path)" [ngClass]="theme+'-pdf-button'">
            <mat-icon>insert_drive_file</mat-icon>
            <p class="filename">{{capsule?.title}}.pdf</p>
          </div>
          <span class="label" *ngIf="capsule.assigncapsule.length > 0" [ngClass]="theme+'-sub-title'">Assigned Reviewers</span>
          <div class="reviewer-list" *ngFor="let r of capsule.assigncapsule">
            <div class="profile-div">
              <div class="left-div">
                <img src="../../../assets/default-userpng.png" alt="" width="50px" height="50px" class="logo-header" *ngIf="r.user.profilePic == null">
                <img [src]="r.user.profilePic" alt="" width="50px" height="50px" class="logo-header" *ngIf="r.user.profilePic != null">
                <p class="filename">{{r.user.fname}} {{r.user.lname}}</p>
              </div>
            </div>
            <div class="right-div" *ngIf="r.grade != null">
              <span>{{r.grade}}%</span>
              <button class="btn orange-button" (click)="exportToService(r.user.id, 'pdf')">Export PDF</button>
              <button class="btn orange-button" (click)="exportToService(r.user.id, 'csv')">Export CSV</button>
            </div>
            <div class="delete-btn" *ngIf="r.grade == null">
              <button *ngIf="capsule?.status == '1'" class="btn send-btn" (click)="openRemoveReviewerDialog(r.user, r.id)"><mat-icon>delete</mat-icon></button>
            </div>
          </div>
        </div>
        <div class="comment-section">
          <button (click)="toggleComment()" *ngIf="showComment" class="orange-button">Hide all comments</button>
          <button (click)="toggleComment()" *ngIf="!showComment" class="orange-button">See all comments</button>
          <div class="all-comment-container" *ngIf="showComment" @fade>
            <a class="hideOrAll" *ngIf="!showAllComment" (click)="toggleAllComment()">Show all comments</a>
            <a class="hideOrAll" *ngIf="showAllComment" (click)="toggleAllComment()">Hide most comments</a>
            <div class="forDiv" *ngFor="let comment of comments | slice:(showAllComment ? 0 : comments.length - 3):comments.length">
              <div class="comment-container" *ngIf="comment.user != null">
                <img src="../../../assets/default-userpng.png" alt="" width="50px" height="50px" class="logo-header" *ngIf="comment.user.profilePic == null">
                <img [src]="comment.user.profilePic" alt="" width="50px" height="50px" class="logo-header" *ngIf="comment.user.profilePic != null">
                <div class="comment-card">
                  <p class="comment-author" *ngIf="comment.user != null">{{comment.user.fname}} {{comment.user.mname}} {{comment.user.lname}}</p>
                  <p class="comment-text">{{comment.comment}}</p>
                </div>
              </div>
              <div class="comment-container" *ngIf="comment.admin != null">
                <img src="../../../assets/default-userpng.png" alt="" width="50px" height="50px" class="logo-header" *ngIf="comment.admin.profilePic == null">
                <img [src]="comment.admin.profilePic" alt="" width="50px" height="50px" class="logo-header" *ngIf="comment.admin.profilePic != null">
                <div class="comment-card">
                  <p class="comment-author" *ngIf="comment.admin != null">{{comment.admin.fname}} {{comment.admin.mname}} {{comment.admin.lname}}</p>
                  <p class="comment-text">{{comment.comment}}</p>
                </div>
              </div>
            </div>
          </div>
          <form #commentForm=ngForm (ngSubmit)="onSubmit()" class="form-comment">
            <input type="text" class="form-control" id="comment" name="comment"
            [(ngModel)]="form.comment" placeholder="Comment here" required>
            <button type="submit" class="btn send-btn" [disabled]="!commentForm.valid" *ngIf="!loading"><mat-icon>send</mat-icon></button>
            <button class="send-btn" style="padding: 5px;" *ngIf="loading"><app-loader-button></app-loader-button></button>
          </form>
        </div>
      </div>
      <div class="right-body">
        <p>Status</p>
        <div *ngIf="capsule?.status == '0'" class="con-unassign">
          <button class="status unassigned">Unassigned</button>
          <button class="orange-button" (click)="openDialog(capsuleId, capsule)">Assign Reviewers</button>
          <button class="reject-button" (click)="openConfirmationDialog('Reconsider Capsule', 'Reconsider')">Reconsider</button>
        </div>
        <button *ngIf="capsule?.status == '1'" class="status assigned">Under Review</button>
        <div *ngIf="capsule?.status == '2'" class="con-unassign">
          <button class="status graded">Graded</button>
          <button class="revision-button" (click)="openConfirmationDialog('Ask for Revision', 'Revise')">Ask for Revision</button>
          <button class="approve-button" (click)="openConfirmationDialog('Approve Capsule', 'Approve')">Approve</button>
          <button class="reject-button" (click)="openConfirmationDialog('Reconsider Capsule', 'Reconsider')">Reconsider</button>
        </div>
        <div *ngIf="capsule?.status == '3'" class="con-unassign">
          <button class="status revision">Under Revision</button>
          <button class="approve-button" (click)="openConfirmationDialog('Approve Capsule', 'Approve')">Approve</button>
        </div>
        <div *ngIf="capsule?.status == '4'" class="con-recon">
          <button  class="status reject">Reconsider</button>
          <br/>
          <span class="label" [ngClass]="theme+'-sub-title'" *ngIf="capsule?.admin_comment != null">Comment of the admin</span>
          <div class="reconsider" *ngIf="capsule?.admin_comment != null">
            <!-- <label class="admin comment">Comment of the admin</label> -->
            <label class="admin comment">{{capsule.admin_comment}}</label>
          </div>
        </div>
        <div *ngIf="capsule?.status == '5'" class="con-unassign">
          <button class="status approve">Approved</button>
          <button class="approve-button" (click)="openConfirmationDialog('Submitted Capsule', 'Submit')">Submitted to RIO</button>
        </div>
        <button *ngIf="capsule?.status == '6'" class="status approve">Submitted to RIO</button>
        <div class="revisions-container" [ngClass]="theme+'-faculty-status'">
          <span class="label" [ngClass]="theme+'-sub-title'">Uploaded Revisions</span>

          <div class="pdf-button-revised" *ngFor="let revision of capsule.revision">
            <div class="file" (click)="openPdf(revision.file_location)">
            <mat-icon>insert_drive_file</mat-icon>
            <p class="filename">{{revision?.title}}.pdf</p>
            </div>
            <div class="date">
              <!-- <label>2023-7-01</label> -->
              <label>{{exportService.formatReqDate(revision.created_at)}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
