
.container {
  width: 100%;
  min-width: 100%;
  height: 100vh;
  background-image: linear-gradient(to bottom, rgba(255, 145, 0, 0.4), rgba(100, 32, 0, 0.5)), url('../../../assets/CICTBuilding.png');
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

p{
  font-family: Roboto, "Helvetica Neue", sans-serif;
  text-align: left;
  font-size: 14px;
  font-weight: 500;
}

.form-container{
  height: fit-content;
  width: fit-content;
  background-color: rgba(240, 248, 255, 0.623);
  padding: 2% 4%;
  border-radius: 10px;
  transition: 1s;
}

.form-container:hover{
  background-color: #ffffff;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  transition: 1s;
}

.context-container{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: fit-content;
  width: 40%;


}
.context-container img{
  width: 200px;
  height: 200px;
}
.context-container h2{
  color: aliceblue;
  text-shadow: 2px 2px 5px #000000;
}

.signup-link:hover{
  text-decoration: underline;
}

.signup-link{
  color: #F5781C;
  text-decoration: none;
}

.form-container h1 {
  font-size: 30px;
  margin-bottom: 10px;
  color: #424242;
  // position: relative;
}

.full-name{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

  .first-name,
  .last-name,
  .middle-name{
  background:#eaeaea;
  margin: 10px 0px;
  border-radius: 25px;
  width: 30%;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  }

  .email-field {
  background:#eaeaea;
  margin: 30px 0px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  }
  .contact-field {
  background:#eaeaea;
  margin: 30px 0px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  }

  .password-field {
  background:#eaeaea;
  margin: 30px 0px;
  margin-bottom: 20px;
  border-radius: 25px;
  display: flex;
  align-items: center;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
  }

  input{
  width: 90%;
  background: transparent;
  border: 0;
  outline: 0;
  padding: 18px 15px;
  }

  .icon{
  width: 10%;
  margin: 15px;
  color: #9999;
  }


  .forgot-password {
  text-align: right;
  }

  .frgt-pw-link:hover{
    text-decoration: underline;
  }

  .frgt-pw-link{
  font-size: 14px;
  font-weight: 500;
  text-decoration: none;
  color: #F5781C;
  }

  $color: #F5781C;


.login-button {
  display: inline-block;
  margin-top: 50px;
  padding: .75rem 8.8rem;
  border-radius: 10rem;
  color: #fff;
  font-size: 1rem;
  font-weight: 500;
  text-decoration: none;
  transition: all .3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $color;
    border-radius: 10rem;
    z-index: -2;
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: darken($color, 15%);
    transition: all .3s;
    border-radius: 10rem;
    z-index: -1;
  }
  &:hover {
    color: #fff;
    &:before {
      width: 100%;
    }
  }
  }

  .loader{
    display: flex;
    top: 42%;
    left: 45%;
    position: absolute;
    z-index: 3;
  }

  .loader-bg{
    width: 100%;
    height: 100%;
    // background-color: aquamarine;
    backdrop-filter: blur(5px);
    position: fixed;
    z-index: 2;
  }

  @media screen and (max-width: 700px){


    .container{
      display: flex;
      height: 100vh;
      width: 100vw;
      flex-direction: column;
      white-space: nowrap;
      overflow: auto;
    }

    .context-container img{
      width: 80%;
      height: 80%;
      display: flex;
    }

    .full-name{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;

    }

    .first-name,
    .last-name,
    .middle-name{
    border-radius: 25px;
    // display: flex;
    // align-items: center;
    width: 100%;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.288);
    }

    .contact-field,
    .email-field,
    .password-field{
      margin-top: 10px;
      margin-bottom: 10px;
    }

    .login-button{
      margin-top: 0;
    }


  }
