<div class="container">
  <div class="dia-header">
    <div class="d-div-s">
      <h3>Delete Rubrics Title</h3>
    </div>
  </div>

  <div class="dia-content">
    <p>Are you sure you want to delete the title {{result.titleData.title}}?</p>
  </div>

  <div class="dia-actions">
    <button class="cancel" mat-dialog-close>Cancel</button>
    <button class="submit" (click)="deleteCategory()" *ngIf="!loading">Delete</button>
    <button class="btn submit" style="padding: 5px 20px;" *ngIf="loading"><app-loader-button></app-loader-button></button>
  </div>
</div>


