<!-- <div class="dia-overlay"></div> -->
<form #editForm=ngForm (ngSubmit)="onSubmit()">
  <div class="container">
    <div class="dia-header">
      <div class="d-div-s">
        <h3>Edit Content</h3>
      </div>
    </div>

    <div class="dia-content">
      <div class="file-input">
        <input type="file" (change)="onFileChange($event)" required>
      </div>
      <div class="imgDiv">
        <image-cropper [imageChangedEvent]="imgChangeEvt"
        [maintainAspectRatio]="false" [roundCropper]="true"
        (imageCropped)="cropImg($event)"></image-cropper>
      </div>

    </div>

    <div class="dia-actions">
      <button class="cancel" mat-dialog-close>Cancel</button>
      <button class="btn submit" type="submit" [disabled]="cropImgPreview == ''">Submit</button>
    </div>
  </div>
</form>


